# Flutter/Dart
.dart_tool/
.packages
build/
*.iml

# IDE
.idea/
.vscode/
*.swp

# Android
android/.gradle/
android/app/debug/
android/app/release/
**/local.properties
**/*.keystore

# iOS
ios/Pods/
ios/.symlinks/

# Archivos sensibles
*.jks
*.p8
*.p12
*.key
.env


# Archivo de configuración con API keys (NUNCA SUBIR)
lib/core/config/env_config.dart

# Android - API key en manifest local
# (si tienes la key directamente ahí)